<div class='mt-4'>
    <h1 class='ml-3'>Hi {{user.firstName}} 🥰🥹</h1>

    <div class='container component-info'>
        <div class='row border-detail'>
            <div class='col col-start p-0'>
                <img
                    {{!-- src='http://localhost:8080/{{user.image}}' --}}
                    src='https://szhinbe.vercel.app/{{user.image}}'
                    class='rounded float-left avatar-account'
                    alt='Avatar'
                />
            </div>
            <div class='col-5 col-between p-0'>
                <p>{{user.email}}</p>
                <p>Password: <span>********</span></p>
                <p>Phone: {{user.phone}}</p>
                <p>VISA *********</p>
                <p>Your next billing date is May 8, 2023.</p>
            </div>
            <div class='col p-0'>
                <p class='details-info'>
                    <a href='#'>Change account email</a>
                </p>
                <p class='details-info'>
                    <a href='#'>Change password</a>
                </p>
                <p class='details-info'>
                    <a href='#'>Change phone number</a>
                </p>
                <p class='details-info'>
                    <a href='#'>Manage payment info</a>
                </p>
                <p class='details-info'>
                    <a href='#'>Add backup payment method</a>
                </p>
                <p class='details-info'>
                    <a href='#'>Billing details</a>
                </p>
                <p class='details-info'>
                    <a href='#'>Change billing day</a>
                </p>
                <p class='details-info'>
                    <a href='#'>Redeem gift card or promo code</a>
                </p>
                <p class='details-info'>
                    <a href='#'>Where to buy gift cards</a>
                </p>
            </div>
        </div>

        <div class='row border-detail'>
            <div class='col col-start p-0'>
                <h5>SECURITY x PRIVACY</h5>
            </div>
            <div class='col-5 col-between p-0'>
                <p>Control access to this account, view the most recently active
                    devices and more.</p>
                <p></p>
                <p></p>
            </div>
            <div class='col p-0'>
                <p class='details-info'>
                    <a href='#'>Manage access and devices</a>
                </p>
                <p class='details-info'>
                    <a href='#'>Sign out of all devices</a>
                </p>
                <p class='details-info'>
                    <a href='#'>Download your personal information</a>
                </p>
            </div>
        </div>

        <div class='row border-detail'>
            <div class='col col-start p-0'>
                <h5>SETTINGS</h5>
            </div>

            <div class='col-5 p-0'>
                <p>
                    <a href='#'>Turn off profile transfers</a>
                </p>
                <p>
                    <a href='#'>Test participation</a>
                </p>
                <p>
                    <a href='#'>Manage download devices</a>
                </p>
            </div>
            <div class='col p-0'></div>

        </div>
    </div>
</div>